[access "refs/*"]
	owner = group user/ebrevdo (ebrevdo)
[access "refs/for/refs/*"]
	read = group user/ebrevdo (ebrevdo)
	push = group user/ebrevdo (ebrevdo)
	label-Code-Review = -2..+2 group user/ebrevdo (ebrevdo)
	label-Verified = -1..+1 group user/ebrevdo (ebrevdo)
	rebase = group user/ebrevdo (ebrevdo)
	removeReviewer = group user/ebrevdo (ebrevdo)
	submit = group user/ebrevdo (ebrevdo)
[access "refs/heads/*"]
	read = group user/ebrevdo (ebrevdo)
	create = group user/ebrevdo (ebrevdo)
	push = +force group user/ebrevdo (ebrevdo)
	pushMerge = group user/ebrevdo (ebrevdo)
[access "refs/tags/*"]
	push = +force group user/ebrevdo (ebrevdo)
	pushTag = group user/ebrevdo (ebrevdo)
	pushSignedTag = group user/ebrevdo (ebrevdo)
